
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppFut/css/styles.css' %}" rel="stylesheet" />
    <title>ResultadosProveedores</title>
    <link rel="icon" type="image/x-icon" href="{% static 'AppFut/assets/icono1.png' %}" />
</head>
<body>
    <p>Estas buscando el nombre del proveedor que venda <strong>"{{busqueda}}"</strong></p>

    {% for prove in proveedores %}

        <ul>
            <li> <strong> Proveedor: </strong>  {{prove.nombre}}</li>
            <li> <strong> Producto: </strong>  {{prove.producto}}</li>
            <li> <strong> Email: </strong>  {{prove.email}}</li>
            <li> <strong> Telefono: </strong> {{prove.telefono}}</li>
        </ul>
    {% endfor %}

    <a class="btn btn-primary1 btn-xlN1" href="{% url 'Inicio' %}">Volver al inicio</a>
    <br>
    <br>
    <a class="btn btn-primary1 btn-xlN1" href="{% url 'Listadeprove' %}">Lista de proveedores</a>

</body>
