
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppFut/css/styles.css' %}" rel="stylesheet" />
    <title>Registro de Turno</title>
    <link rel="icon" type="image/x-icon" href="{% static 'AppFut/assets/icono1.png' %}" />
</head>
<body>
    <h1>Registro de Turno</h1>
    <form action="" method="POST"> {% csrf_token %}
        <table>
        
            {{turno.as_table}}  
            
        </table>
        <br>
        <input type="submit" class="btn btn-primary btn-xlN text-uppercase" value="Enviar">
    
    </form>
    <br>
    
    <a class="btn btn-primary1 btn-xlN1" href="{% url 'Inicio' %}">Volver al Inicio</a>
    <br>
    <br>
    

</body> 
